@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; 
    background: 
        conic-gradient(
            rgb(143, 142, 142) 90deg,
            grey 90deg 180deg,
            rgb(143, 142, 142) 180deg 270deg,
            grey 270deg
    )
    top left / 60px 60px repeat;
    
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: blue; */
}

#modalIntro {
    background: 
    conic-gradient(
        rgb(143, 142, 142) 90deg,
        grey 90deg 180deg,
        rgb(143, 142, 142) 180deg 270deg,
        grey 270deg
    )
    top left / 60px 60px repeat;
    font-size: 100px;
    font-family: 'Lobster';
    color: rgba(247, 115, 137, 1);
    text-shadow: 4px 4px rgb(106, 41, 52);
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
}


.modal-content {
    background: 
    conic-gradient(
        rgba(143, 142, 142, 0.7) 90deg,
        rgba(128, 128, 128, 0.7) 90deg 180deg,
        rgba(143, 142, 142, 0.7) 180deg 270deg,
        rgba(128, 128, 128, 0.7) 270deg
    )
    top left / 60px 60px repeat;
    /* background-color: pink; */
    margin: 15% auto;
    padding: 20px;
    border: 4px solid rgba(247, 115, 137, 1);

    /* rgb(144, 39, 144); */
    width: 50%;
    height: 60%;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

h3, p {
    /* font-family: 'Monoton';
    color: rgb(144, 39, 144); */
    font-family: 'Lobster';
    color: rgba(247, 115, 137, 1);
    font-size: 50px;
    padding-top: 40px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px rgb(106, 41, 52);
    /* padding: 50px 10px 2px; */
    /* margin: 5px; */
}

#myModal2 p {
    text-shadow: 1px 1px black;
    margin: auto;
    text-align: center;
}


/* h4, h5 {
    font-family: 'Monoton';
    color: rgb(144, 39, 144);
    font-size: 30px;
    text-shadow: 1px 1px black;
} */

#myModal span, #myModal2 span {
    color: rgba(247, 115, 137, 1);
}

.heading {
    padding-bottom: 30px;
}

button {
    visibility: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* padding: 10px; */
    margin: auto;
    margin-bottom: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 196, 0);
    font-size: 20px;
}

button:hover {
    height: 120px;
    width: 120px;
}

/* rgb(248, 223, 248) 180deg 270deg,
            rgb(250, 207, 250) 270deg */

.grid {
    /* text-align: center; */
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1em;
    background-color: rgb(210, 147, 210);
    box-shadow: 6px 6px rgb(86, 55, 86);
    height: 600px;
    width: 700px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 20px 20px 0 20px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.grid div {
    height: 80px;
    width: 80px;
    /* padding: 20px; */
}

.player-one {
    background-color: rgb(255, 196, 0);
    border-radius: 40px;
    box-shadow: 4px 4px rgb(83, 65, 3);
}
.player-two {
    background-color: rgb(168, 34, 101);
    border-radius: 40px;
    box-shadow: 4px 4px rgb(82, 6, 44);
}